body{
    padding:0;
    margin:0;
}

.clear {
    clear:both;
}

a img{
    border:none;
}

ul {
   margin:0px;padding:0px;
}

#wrapper {
    width:960px;
    margin: 10px auto;
}

#admin_site_name #sitename {
    font-size:20px;
    margin:20px 0;
}

#admin_site_name {
    float:left;
    width:750px;
}

#admin_logout {
    float:right;
    width:100px;
}

.menu li {
    list-style:none;
    display:inline;
    padding-right:20px;
}

.apage div {
    float:left;
}
.apage .page_id {
    width:40px;
}
.apage .page_name {
    width:300px;
}
.apage .page_action{
    margin-right:20px;
}

.adminform label {
    width:200px;
    display:block;
    margin:10px 0 5px 0;
}

form, ul {
   border:1px solid #ddd;
   background:#eee;
   padding:20px;
}

form input {
   display:block;
   margin-bottom:20px;
}

form label {
   display:block;
   margin-bottom:5px;
}

#pages #pages{
    border:1px solid #434343;
    padding:10px;
}

.apage {
    height:30px;
    padding:15px 0 5px 10px;
}

#pages .odd {
    background:#eee;
}

#pages .even {
    background:#ddd;
}

#products .odd {
    background:#;
}

.aproduct {
   background:#f9f9f9;
   margin:10px 0;
   padding:10px;
}

.aproduct input{
   vertical-align:middle;
   float:left;
}

.aproduct p {
   font-weight: bold;
}

#theme_form input, #theme_form label {
   float:left;
}

#message {
    border:1px solid #99FF00;
    padding:10px;
    margin:10px 0;
    background:#99FF99;
}